$color-white: #ffffff;
$color-black: #000000;
$color-red: #fe0000;
$color-green: #5acc31;
$color-grey: #888888;

$padding-left: 2rem;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: $color-grey;
  overflow-x: hidden;
}

.container {
  max-width: 120rem;
  margin: 20rem auto;
}

.subheading {
  font-size: 4rem;
  text-transform: uppercase;
  font-family: 'Bodoni Moda', serif;
  position: relative;
  color: $color-black;
  border-bottom: 0.2rem solid $color-red;
  width: 23rem;
  letter-spacing: 0.2rem;
}
