.hero {
  margin: 0 auto;
  max-width: 70%;
  height: 70vh;
  position: relative;

  &__text {
    font-size: 9.6rem;
    text-transform: uppercase;
    font-family: 'Bodoni Moda', serif;
    color: $color-black;
    font-weight: 400;
    position: absolute;
    top: 10rem;
    left: 37rem;
    z-index: 3;
    z-index: 3;
  }

  &__sec-text {
    position: absolute;
    top: 10rem;
    left: -30rem;
    z-index: 3;
  }

  &__subtitle {
    font-size: 3.2rem;
    text-transform: uppercase;
    color: $color-black;
    position: absolute;
    top: 35rem;
    left: 7.6rem;
    letter-spacing: 0.2rem;
    z-index: 3;
  }

  &__circle {
    width: 1.5rem;
    height: 1.5rem;
    background-color: $color-red;
    border-radius: 50%;
    position: absolute;
    top: 37.3rem;
    left: 38rem;
    z-index: 3;
    animation: showDot 1s ease forwards 2s;
    animation-delay: 2;
    opacity: 0;
  }

  &__resume {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding: 1.5rem 3rem;
    color: $color-white;
    background-color: $color-red;
    position: absolute;
    top: 48rem;
    left: 35rem;
    z-index: 3;
    animation: resume 3s ease;
  }

  &__img {
    width: 60rem;
    position: absolute;
    top: 10rem;
    left: 60rem;
  }
}

.hero::after {
  content: '';
  width: 100rem;
  height: 50rem;
  background-color: $color-white;
  position: absolute;
  top: 10rem;
  left: 58rem;
  z-index: 2;
  animation: showIn 3s forwards linear;
}

.arrow__down {
  font-size: 4rem;
  text-align: right;
  margin-right: 10rem;
}

.fa-solid {
  &:hover {
    color: $color-black;
    cursor: pointer;
    font-size: 4.1rem;
  }
}

@keyframes showIn {
  from {
    left: 58rem;
  }

  to {
    left: 160rem;
  }
}

@keyframes showDot {
  from {
    opacity: 0;
    width: 200rem;
    height: 200rem;
    top: -80rem;
    left: -50rem;
  }
  to {
    opacity: 1;
    width: 1.5rem;
    height: 1.5rem;
  }
}

@keyframes resume {
  from {
    left: -50rem;
  }
  to {
    left: 35rem;
  }
}
