.side-nav {
  background-color: $color-black;
  width: 29rem;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(300);
  transition: 0.6s linear;
  z-index: 5;
  &__list {
    list-style: none;
    position: absolute;
    top: 12rem;
    right: 2.5rem;
    z-index: 2;
  }

  &__item {
    color: $color-white;
  }

  &__link {
    text-decoration: none;
    color: $color-white;
    font-size: 1.6rem;

    &:hover {
      color: $color-grey;
    }
  }

  &__contact {
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style: none;
    position: absolute;
    bottom: 2rem;
    justify-content: space-around;
  }

  &__img {
    position: absolute;
    bottom: -0.5rem;
    right: 0;
  }
}

.links {
  font-size: 4.8rem;
  font-family: 'Bodoni Moda', serif;
  text-transform: uppercase;
}

.side-nav.active {
  transform: translateX(0);
}
