.about-me {
  &__container {
    display: flex;
    justify-content: space-around;
    gap: 10rem;
    margin-bottom: 10rem;
  }

  &__description {
    display: flex;
    gap: 5rem;
    flex-direction: column;
    align-items: left;
    justify-content: center;

    .subheding {
      font-size: 4rem;
      text-transform: uppercase;
      font-family: 'Bodoni Moda', serif;
      position: relative;
      color: $color-black;

      &:after {
        content: '';
        border-bottom: 2px solid $color-red;
        position: absolute;
        width: 20rem;
        top: 7rem;
        right: 23rem;
      }
    }

    p {
      font-size: 2.4rem;
    }
  }
}

.skills {
  display: flex;
  justify-content: space-around;
}

.skill {
  &__title {
    font-size: 2.4rem;
    text-transform: uppercase;
    color: $color-black;
    margin-bottom: 5rem;
    text-align: center;
  }

  &__icons {
    font-size: 4rem;

    img {
      width: 4rem;
      color: $color-grey;
    }
  }

  .grid-col-3 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5rem;
  }
}
